*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
}
.movie-cart{
    display: flex;
    width:41vw;
    
    background-color:rgb(243, 231, 194);
    border:none;
    margin: 10px 10px;
    align-items: center;
    justify-content: space-between;
}
.poster{
    width: 20vw;
    border: 1px solid blue;
    margin:5px;
}
.add-to-list, .go-to-imdb{
    background-color:blue;
    color: white;
    border: none;
    width: 10vw;
    margin: 10px ;
    cursor: pointer;
}
.title{
    margin: 10px;
}